---
layout: default
---

{{ content }}

<div class="row">
  <img src="/assets/tree.png" width="180px" height="180px" style="margin-top:8%;">
</div>

<div class="row">
  <div class="nine columns">
    <h1>Jan Ulrich - software designer, entrepreneur &amp; builder</h1>
  </div>
</div>
<div class="row"><hr></div>

<div class="row">
  <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
    <h2>Expertise</h2>
    <div class="eight columns subhead">From founding a startup to working at a big enterprise, I've developed a broad skillset for running a tech company. This is a partial list.
    </div>
  </div>
  <div class="four columns">
    <ul>
      <li>Continuous Integration &amp; Build Systems</li>
      <li>Testing Strategy &amp; Frameworks</li>
      <li>Containerization &amp; Orchestration</li>
      <li>Immutable Infrastructure for Security</li>
      <li>Automated Monitoring Tools</li>
      <li>Incident Response</li>
      <li>On-call Management & Remediation</li>
      <li>Cloud Infrastructure</li>
      <li>Remote Work</li>
    </ul>
  </div>
  <div class="four columns">
    <ul>
      <li>Full-stack Web Development</li>
      <li>Code as Art</li>
      <li>Object-oriented Software Design</li>
      <li>Team Management &amp; Collaboration</li>
      <li>Organized &amp; Effective Communication Style</li>
      <li>Infrastructure Automation</li>
      <li>Mentorship and Community Presentations</li>
      <li>Innovative Brainstormer and Proactive Hustler</li>
      <li>Collaborator</li>
    </ul>
  </div>
</div> 

<div class="row" style="margin-top:10rem;"><hr></div>
<div class="row">
  <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
    <h2>Volunteering</h2>
    <div class="eight columns subhead">Building a local community takes work and dedication.</div>
  </div>
  <div class="eight columns">
    I like to give back to the local community when ever I can. Over the years I've been trying to do a yearly waterways cleanup to keep our oceans clean and our local nature natural. Some of my outings are depicted <a href="volunteering.html">here</a>.
    <p>
      In the past I also co-founded CareHighway, a Humanitarian Organization at UT focused on fundraising and delivering goods to an orphanage in Nuevo Laredo, Mexico.
    </p>
  </div>
</div>

<div class="row" style="margin-top:10rem;"><hr></div>
<div class="row">
  <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
    <h2>Environmental</h2>
    <div class="eight columns subhead">This is our planet – let's take care of it.</div>
  </div>
  <div class="eight columns">
    Protecting the environment is the greatest challenge our society faces right now. We are changing our climate in ways future generations will have a hard time coping with. There are big challenges which need to be addressed world-wide on the political level, but peoples' individual actions are also a key part in making the change. This problem is so big it needs to be addressed by all possible means.
    <p>
      I believe we should think about what we consume before we <a href="https://storyofstuff.org">consume</a> it. We prepare and eat food on a daily basis, so I decided to tackle the problem of food waste right in my own household. TO complete the natural cycle of leftovers becoming fertilizer again, I built my own <a href="environment.html">worm composting system</a>.
    </p>
    <p><a href="greenhousegasemissions/index.html">Here</a> is an economic analysis I did on the Greenhouse Gas Emissions of the Canadian Industrial Sector for the <a href="http://apps4climateaction.gov.bc.ca/">Apps4ClimateAction</a> competition.
    </p>
  </div>
</div>

<div class="row" style="margin-top:10rem;"><hr></div>
<div class="row">
  <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
    <h2>Students of the World</h2>
    <div class="eight columns subhead">We expand empathy &amp; empower young people through study abroad &amp; training in story telling</div>
  </div>
  <div class="eight columns">
    Students of the World is a university organization tha immerses college students in new global environments and has them document transcultural issues and make spread the message through local and online media.
    <p>
      I did a documentary trip to San Ildefonso Ixtahuacán, Guatemala and also documented NGOs working with AIDS and women's rights in Kenya - <a href="sow.html">SOW</a>
    </p>
  </div>
</div>

<div class="row" style="margin-top:10rem;"><hr></div>
<div class="row">
  <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
    <h2>Previous Tech Projects</h2>
    <div class="eight columns subhead">A lifetime of hacking.</div>
  </div>
  <div class="eight columns">
  <div><a href="http://www.vocabularyprep.com" target="_top">Vocabulary Prep</a></div>
  If you want to improve your vocabulary, this is for you. It could help you improve your SAT/GRE score if you have to take that test.
  <br><br>
  <div><a href="powerbook/screenrepair.html" target="_top">Apple Powerbook G4 Repair</a></div>
  A step-by-step guide to reparing the Powerbook screen.
  <br><br>
  <div><a href="#">Building a Cantenna</a></div>
  An easy way to increase your wireless router's range.
  <br><br>
  <div><a href="leopard/index.html" target="_top">Leopard vs Tiger</a></div>
  A comparison between OSX 10.5 and 10.4 on a Powerbook.
  <br><br>
  <div><a href="projects/backup.html" target="_top">Backing up and Restoring on a Mac</a></div>
  My experience doing a network backup of your disk image.
  <br><br>
  <div><a href="projects/server.html" target="_top">Building a server on a small budget</a></div>
  Although cloud-computing is now the easiest option, there are still times when a real server can be useful.
  </div>
</div>


<div class="row" style="margin-top:10rem;">
  <hr>  
  <h3>To reach out, write to <a href="mailto:jan@janulrich.org">jan@janulrich.org</a>.</h3>
</div>
